{% extends 'tasks/base.html' %}

{% block title %}Мои задачи{% endblock %}

{% block content %}

<div class="header">
    <h1>Мои задачи</h1>
    <a class="btn btn-add" href="{% url 'task_create' %}">+ Добавить</a>
</div>
<form method="get" style="margin-bottom:20px;">

    <input
        type="text"
        name="search"
        placeholder="Поиск задач..."
        value="{{ request.GET.search }}"
        class="form-control"
        style="margin-bottom:10px;"
    >

    <select name="status" class="form-select" style="margin-bottom:10px;">

        <option value="">Все статусы</option>

        <option value="new"
            {% if request.GET.status == 'new' %}
                selected
            {% endif %}
        >
            Новая
        </option>

        <option value="in_progress"
            {% if request.GET.status == 'in_progress' %}
                selected
            {% endif %}
        >
            В процессе
        </option>

        <option value="done"
            {% if request.GET.status == 'done' %}
                selected
            {% endif %}
        >
            Выполнено
        </option>

    </select>

    <button type="submit" class="btn btn-primary">
        Найти
    </button>

    <a href="{% url 'tasks' %}" class="btn btn-secondary">
    Сбросить
    </a>

</form>
{% for task in tasks %}

    <div style="background:#f9f9f9; padding:15px; margin-bottom:10px; border-radius:8px;">

        <h3>{{ task.title }}</h3>

        <p>{{ task.description }}</p>

        <span style="
            padding: 4px 8px;
            border-radius: 5px;
            font-size: 12px;
            background:
            {% if task.status == 'done' %}#b6f2c2
            {% elif task.status == 'in_progress' %}#ffe58f
            {% else %}#d6e4ff
            {% endif %}
        ">
            {{ task.get_status_display }}
        </span>

        <p style="font-size:12px; color:gray;">
            Создано: {{ task.created_at }} <br>
            Изменено: {{ task.updated_at }}
        </p>


        <div style="margin-top:10px;">
            <a class="btn btn-primary" href="{% url 'task_update' task.pk %}">Редактировать</a>
            <a class="btn btn-danger"  href="{% url 'task_delete' task.pk %}">Удалить</a>
        </div>

    </div>

{% empty %}
    <p>Задач пока нет</p>
{% endfor %}

<!-- пагинация -->
{% if is_paginated %}
    <div style="margin-top:20px;">

        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}&status={{ request.GET.status }}">← Назад</a>
        {% endif %}

        <span>Страница {{ page_obj.number }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}&status={{ request.GET.status }}">Вперёд →</a>
        {% endif %}

    </div>
{% endif %}

{% endblock %}